
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>??? - rank.it</title>

    <!-- Importing Stylesheets -->
    <link rel="stylesheet" href="./style/base.css">
    <link rel="stylesheet" href="./style/profile.css">

</head>
<body>
    <div class="header-container">
        <header>
            <a class="logo" href="/"><img src="./img/logo.png"/></a>
            <div class="menu">
                <a class="mobile-only" href="/"><span class="material-symbols-outlined filled">home</span></a>
                <a href="/login" class="login">Login</a>
                <a href="/cadastro" class="cadastro">Cadastro</a>
                <a href="/search" class="search mobile-hidden">Buscar</a>
                <a href="/search" class="search mobile-only material-symbols-outlined">search</a>
                <a href="/not-found" class="top">Top Rated</a>
                <span class="menu-btn material-symbols-outlined">more_vert</span>
                
            </div>
        </header>
    </div>
    <div class="banner" style="background-image: url({% static 'img/banner/'%}{{banner}}.{{'png'}})">
        <div class="user">
            <img src="./img/icon/3.png" alt="user icon" class="icon">
            <div class="identify">
                <div class="name">JucelinoPerigoso</div>
                <div class="username">mastergamerjp</div>
                <div class="followArea">
                    <div class="followers">432</div>
                    <div class="following">234</div>
                </div>
                <div class="followBtn">Follow</div>
            </div>
        </div>
        <div class="bannerDesc mobile-hidden">
            Jujutsu Kaisen
        </div>
    </div>
    <main>
        <div class="container">
            <div class="col6">
                {% if bio %}

                <div class="bio">
                    {{ bio }}
                </div>
                
                {% endif %}

                {% if reviews %}
                <div class="reviews">
                    <h2>Reviews</h2>
                    <div class="reviewCard">
                        <div class="reviewCard-header">
                            <div class="mediaName">Jujutsu Kaisen</div>
                            <div class="evaluation">A A A A A</div>
                        </div>
                        <div class="reviewCard-body">
                            <div class="reviewDescription">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel itaque eum quo non quaerat, repellat voluptates repellendus temporibus provident est maxime distinctio dignissimos esse quos ut voluptate, rerum ipsam molestiae?</div>
                        </div>
    
                    </div>
                    <div class="reviewCard">
                        <div class="reviewCard-header">
                            <div class="mediaName">Sousou No Frieren</div>
                            <div class="evaluation">A A A A A</div>
                        </div>
                        <div class="reviewCard-body">
                            <div class="reviewDescription">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel itaque eum quo non quaerat, repellat voluptates repellendus temporibus provident est maxime distinctio dignissimos esse quos ut voluptate, rerum ipsam molestiae?</div>
                        </div>
    
                    </div>
                </div>
                {% endif %}
            </div>
            
            <div class="col6">
                <div class="stats">
                    {% if watchlist %}
                    <div class="preferences">
                        <div class="favorite favorite-anime">
                            <div class="favorite-text-area">
                                <h3>Jujutsu Kaisen</h3>
                                <p>Favorite Anime</p>
                            </div>
                            
                        </div>
                        <div class="favorite favorite-character">
                            <div class="favorite-text-area">
                                <h3>Frieren</h3>
                                <p>Favorite Character</p>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    
                    <div class="currentViewing"></div>
                </div>
            </div>
            
        </div>
    </main>
</body>
</html>