[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymongo = "*"
google-api-python-client = "*"
requests = "*"
bcrypt = "*"
fs = "*"
django = "*"

[dev-packages]

[requires]
python_version = "3.12.7"

[scripts]
app = "python manage.py runserver"
