{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cadastro - rank.it</title>

        <!-- Importing Stylesheets -->
        <link rel="stylesheet" href="/static/style/base.css">
        <link rel="stylesheet" href="/static/style/cadastro.css">
    </head>
    <body>
        <div class="header-container">
            <header>
                <h2><a class="logo" href="/"><img src="/static/img/logo.png"/></a></h2>
            </header>
        </div>
        <main>
            <form method="POST" action="/cadastro" class="container">
                <h1>Cadastro</h1>
                <div class="field">
                    <label for="name">Nome</label>
                    <input type="text" id="name" name="name" placeholder="Digite seu nome" required />
                </div>
                <div class="field">
                    <label for="username">Usuário</label>
                    <input type="text" id="username" name="username" placeholder="Digite seu nome de usuário (único)" required />
                </div>
                <div class="field">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" placeholder="Digite seu email" required />
                </div>
                <div class="field">
                    <label for="password">Senha</label>
                    <input type="password" id="password" name="password" placeholder="Digite uma senha" required />
                </div>
                <div class="field">
                    <label for="password-confirm">Confirmar senha</label>
                    <input type="password" id="password-confirm" name="confirm-password" placeholder="Confirme sua senha" required/>
                </div>
                <a class="already" href="/login">Já tem uma conta? Clique aqui para entrar!</a>
                {% if repeated %}
                    <span class="wrong">Já existe um usuário com este nome de usuário.</span>
                {% endif %}
                {% if missing %}
                    <span class="wrong">Preencha todos os campos do formulário.</span>
                {% endif %}
                {% if unmatchpassword %}
                    <span class="wrong">O conteúdo do campo "Senha" e do campo "Confirmar senha" são diferentes.</span>
                {% endif %}
                
                <button type="submit">Cadastrar</button>
            </form>
        </main>
        <footer>
            <div class="footer-container">
                <h3 class="public-repository">Repositório de apresentação</h3>
                <a href="https://github.com/joaopedrov0/rankit-presentation">Clique aqui para ver o repositório de apresentação no GitHub!</a>
                <h3 class="credits">Créditos</h3>
                <a href="/credits">Clique aqui para ver a página de créditos!</a>
            </div>
            <div class="developed-by">Developed by <a href="https://github.com/joaopedrov0">joaopedrov0</a> ©2024</div>
        </footer>
    </body>
</html>