{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ currentProfile.name }} - rank.it</title>

    <!-- Importing Stylesheets -->
    <link rel="stylesheet" href="/static/style/base.css">
    <link rel="stylesheet" href="/static/style/profile.css">
    <link rel="stylesheet" href="/static/style/editProfile.css">
</head>
<body>
    <div class="floating-menu floating-menu-closed">
        <span style="--i:1" onclick="toggleMenu()"><span class="material-symbols-outlined filled">close</span></span>
        {% if logged %}
        <a href="/editProfile" style="--i:2">Editar perfil</a>
        <a href="/logout" style="--i:3">Log Out</a>
        {% endif %}
        <a href="/search" style="--i:4">Estou com sorte</a>
    </div>
    <div class="header-container">
        <header>
            <a class="logo" href="/"><img src="/static/img/logo.png"/></a>
            <div class="menu">
                <a class="mobile-only" href="/"><span class="material-symbols-outlined filled">home</span></a>
                {% if not logged %}
                    <a href="/login" class="login">Login</a>
                    <a href="/cadastro" class="cadastro">Cadastro</a>
                {% endif %}
                <a href="/search" class="search mobile-hidden">Buscar</a>
                <a href="/search" class="search mobile-only material-symbols-outlined">search</a>
                <a href="/not-found" class="top">Top Rated</a>
                {% if logged %}
                    <a class="profile-btn" href="/profile/{{currentProfile.username}}" class="top"><span class="mobile-hidden">{{currentProfile.name}}</span><img class="profile-icon" src="/static/img/icon/{{currentProfile.icon}}.png"/></a>
                {% endif %}
                <span class="menu-btn material-symbols-outlined" onclick="toggleMenu()">more_vert</span>
                
            </div>
        </header>
    </div>
    <div class="banner" style="background-image: url({% static 'img/banner/'%}{{currentProfile.banner}}.{{'png'}})">
        <div class="user">
            <img src="{% static 'img/icon/'%}{{currentProfile.icon}}.{{'png'}}" alt="user icon" class="icon">
            <div class="identify">
                <div class="name">{{ currentProfile.name }}</div>
                <div class="username" style="cursor:not-allowed;">{{ currentProfile.username }}</div>
                <div class="followArea">
                    <div class="followers">{{ currentProfile.followersCount }}</div>
                    <div class="following">{{ currentProfile.followingCount }}</div>
                </div>
                <a class="followBtn" style="cursor:not-allowed;" disabled >Editando...</a>
            </div>
        </div>
        <div class="bannerDesc mobile-hidden">
            
        </div>
    </div>
    <main>
        <div class="container">
            <form method="POST" target="/editProfile">
                <button type="submit">Atualizar perfil</button>
                <h2>Nome</h2>
                    <input type="text" id="name" name="name" placeholder="Digite seu novo nome!" value="{{ currentProfile.name }}">
                <h2>Biografia</h2>
                    <input type="text" id="bio" name="bio" placeholder="Digite sua nova biografia!" value="{{ currentProfile.bio }}">
                </div>
                    <input type="text" id="icon-input" name="icon" value="{{currentProfile.icon}}" hidden>
                    <input type="text" id="banner-input" name="banner" value="{{currentProfile.banner}}" hidden>
                <h2>Escolha seu ícone</h2>
                <div class="icon-area">
                    {% for icon in icons  %}

                        <img src="/static/img/icon/{{icon}}.png" alt="icon option" class="icon-option" onclick="registerIcon({{icon}})" id="icon-{{icon}}"/>

                    {% endfor %}
                </div>
                <h2>Escolha seu banner</h2>
                <div class="banner-area">
                    {% for banner in banners  %}
                    
                        <img src="/static/img/banner/{{banner}}.png" alt="banner option" class="banner-option" onclick="registerBanner({{banner}})" id="banner-{{banner}}"/>
                    
                    {% endfor %}
                </div>
                
            </form>
        </div>
    </main>
    <script src="/static/javascript/floatingMenu.js"></script>
    <script src="/static/javascript/editProfile.js"></script>
</body>
</html>