{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>rank.it | Home</title>

        <!-- Importing Stylesheets -->
        <link rel="stylesheet" href="/static/style/base.css">
        <link rel="stylesheet" href="/static/style/home.css">
        <link rel="stylesheet" href="/static/style/reviews.css">
        
    </head>
    <body>
        
        <div class="header-container">
            <header>
                <a class="logo" href="/"><img src="/static/img/logo.png"/></a>
                <div class="menu">
                    <a class="mobile-only" href="/"><span class="material-symbols-outlined filled">home</span></a>
                    {% if not logged %}
                        <a href="/login" class="login">Login</a>
                        <a href="/cadastro" class="cadastro">Cadastro</a>
                    {% endif %}
                    <a href="/search" class="search mobile-hidden">Buscar</a>
                    <a href="/search" class="search mobile-only material-symbols-outlined">search</a>
                    <a href="/not-found" class="top">Top Rated</a>
                    {% if logged %}
                        <a class="profile-btn" href="/profile/{{user.username}}" class="top"><span class="mobile-hidden">{{user.name}}</span><img class="profile-icon" src="/static/img/icon/{{user.icon}}.png"></img></a>
                    {% endif %}
                    <span class="menu-btn material-symbols-outlined" onclick="toggleMenu()">more_vert</span>
                </div>
                <div class="floating-menu floating-menu-closed">
                    <span style="--i:1" onclick="toggleMenu()"><span class="material-symbols-outlined filled">close</span></span>
                    <a href="/search" style="--i:2">Estou com sorte</a>
                    {% if logged %}
                    <a href="/editProfile" style="--i:3">Editar perfil</a>
                    <a href="/logout" style="--i:4">Log Out</a>
                    {% endif %}
                </div>
            </header>
        </div>
        <main style="background-image:url('/static/img/pexels-ron-lach-9807277.jpg');">
            <div class="container">
                {% if logged %}
                    <h1>Bem vindo de volta {{user.name}}!</h1>
                    <p>Dê uma olhada no que aconteceu enquanto você esteve fora!</p>
                {% else %}
                    <h1>Boas vindas ao Rank.it</h1>
                    <p>O Rank.it é um lugar onde você pode avaliar as obras que você viu e acompanhar o que seus amigos avaliaram também!</p>
                    <h2>Tudo em um só lugar!</h2>
                    <p>Através de um perfil do Rank.it você pode conhecer o que uma pessoa gosta de filmes, séries, animes, jogos e livros!</p>
                    <a class="getStartedBtn" href="/cadastro">Comece já!</a>
                    <a class="already" href="/login">Já tem uma conta? Clique aqui para entrar!</a>
                {% endif %}
                {% if reviews %}
                <div class="reviews feed">
                    <h2>Atividades recentes</h2>
                    {% for review in reviews %}
                        <a class="review_target" href="/media/{{review.target_category}}/{{review.target_api_id}}">
                            {{review.target_name}}
                        </a>
                        <div class="review-box">
                            <a class="review-box-poster" href="/media/{{review.target_category}}/{{review.target_api_id}}">
                                <img src="{{review.poster_path}}" class="review-poster" />
                            </a>
                            <div class="review-box-text">
                                <a href="/profile/{{review.username}}" class="review-header">
                                    <img class="profile-icon" src="/static/img/icon/{{review.icon}}.png"/><div class="review-name">{{review.name}}<div class="review-username">{{review.username}}</div></div>
                                </a>
                                <a class="review-body" href="/media/{{review.target_category}}/{{review.target_api_id}}">
                                    {% if review.quality %}
                                    <div class="review-quality"><span class="quality-{{review.quality}}">{{review.qualityText}}</span></div>
                                    {% endif %}
                                    {% if review.text %}
                                    <div class="review-text">{{review.text}}</div>
                                    {% endif %}
                                    <div class="review-date">{{review.date}}</div>
                                </a>
                            </div>
                        </div>
                    {% endfor %}

    
                    </div>
                </div>
                {% endif %}
            </div>
        </main>
        <footer>
            <div class="footer-container">
                <h3 class="public-repository">Repositório de apresentação</h3>
                <a href="https://github.com/joaopedrov0/rankit-presentation">Clique aqui para ver o repositório de apresentação no GitHub!</a>
                <h3 class="credits">Créditos</h3>
                <a href="/credits">Clique aqui para ver a página de créditos!</a>
            </div>
            <div class="developed-by">Developed by <a href="https://github.com/joaopedrov0">joaopedrov0</a> ©2024</div>
        </footer>
    <script src="/static/javascript/floatingMenu.js"></script>
    </body>
</html>