{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>rank.it | Home</title>

        <!-- Importing Stylesheets -->
        <link rel="stylesheet" href="/static/style/base.css">
        <link rel="stylesheet" href="/static/style/home.css">
        <link rel="stylesheet" href="/static/style/reviews.css">
        
    </head>
    <body>
        <div class="floating-menu floating-menu-closed">
            <span style="--i:1" onclick="toggleMenu()"><span class="material-symbols-outlined filled">close</span></span>
            {% if logged %}
            <a href="/editProfile" style="--i:2">Editar perfil</a>
            <a href="/logout" style="--i:3">Log Out</a>
            {% endif %}
            <a href="/search" style="--i:4">Estou com sorte</a>
        </div>
        <div class="header-container">
            <header>
                <a class="logo" href="/"><img src="/static/img/logo.png"/></a>
                <div class="menu">
                        <a class="mobile-only" href="/"><span class="material-symbols-outlined filled">home</span></a>
                        {% if not logged %}
                            <a href="/login" class="login">Login</a>
                            <a href="/cadastro" class="cadastro">Cadastro</a>
                        {% endif %}
                        <a href="/search" class="search mobile-hidden">Buscar</a>
                        <a href="/search" class="search mobile-only material-symbols-outlined">search</a>
                        <a href="/not-found" class="top">Top Rated</a>
                        {% if logged %}
                            <a class="profile-btn" href="/profile/{{user.username}}" class="top"><span class="mobile-hidden">{{user.name}}</span><img class="profile-icon" src="/static/img/icon/{{user.icon}}.png"></img></a>
                        {% endif %}
                        <span class="menu-btn material-symbols-outlined" onclick="toggleMenu()">more_vert</span>
                </div>
            </header>
        </div>
        <main style="background-image:url('/static/img/pexels-ron-lach-9807277.jpg');">
            <!-- <div class="col12">
                <div class="text-box-home mobile-hidden">
                    <p>Mantenha o controle do que viu.</p>
                    <p>Salve o que ainda quer ver.</p>
                </div>
            </div>
            <div class="col12">
                <div class="col6 categoriesMenu">
                    <div class="categoriesTitle">
                        <div class="categoriesTitle-item">Filmes</div>
                        <div class="categoriesTitle-item">Séries</div>
                        <div class="categoriesTitle-item">Animes</div>
                        <div class="categoriesTitle-item">Livros</div>
                        <div class="categoriesTitle-item">Jogos</div>
                    </div>
                    <div class="categoriesBanner">
                        <img src="/static/img/batman.jpg" alt="" class="categoriesBanner-item">
                        <img src="/static/img/breaking.jpg" alt="" class="categoriesBanner-item">
                        <img src="/static/img/deathnote.jpg" alt="" class="categoriesBanner-item">
                        <img src="/static/img/harry.jpg" alt="" class="categoriesBanner-item">
                        <img src="/static/img/rivia.jpg" alt="" class="categoriesBanner-item">
                    </div>
                </div>
                <div class="col6 getStarted">
                    Avalie e compartilhe com amigos.
                    <h2>Tudo em um só lugar!</h2>
                    <div class="getStartedBtn">Comece já!</div>
                </div>
            </div> -->
            <div class="container">
                <h1>Boas vindas ao Rank.it</h1>
                <p>O Rank.it é um lugar onde você pode avaliar as obras que você viu e acompanhar o que seus amigos avaliaram também!</p>
                <h2>Tudo em um só lugar!</h2>
                <p>Através de um perfil do Rank.it você pode conhecer o que uma pessoa gosta de filmes, séries, animes, jogos e livros!</p>
                <a class="getStartedBtn" href="/login">Comece já!</a>
                {% if reviews %}
                <div class="reviews">
                    <h2>Reviews</h2>
                    {% for review in reviews %}
                        <a class="review_target" href="/media/{{review.target_category}}/{{review.target_api_id}}">{{review.target_name}}</a>
                        <a class="review-box" href="/media/{{review.target_category}}/{{review.target_api_id}}">
                            <div class="review-header">
                                <img class="profile-icon" src="/static/img/icon/{{review.icon}}.png"/> <div class="review-name">{{review.name}}</div> <div class="review-username">{{review.username}}</div>
                            </div>
                            <div class="review-body">
                                {% if review.quality %}
                                <div class="review-quality"><span class="quality-{{review.quality}}">{{review.qualityText}}</span></div>
                                {% endif %}
                                {% if review.text %}
                                <div class="review-text">{{review.text}}</div>
                                {% endif %}
                                <div class="review-date">{{review.date}}</div>
                            </div>
                        </a>
                    {% endfor %}

    
                    </div>
                </div>
                {% endif %}
            </div>
        </main>
    <script src="/static/javascript/floatingMenu.js"></script>
    </body>
</html>