{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login - rank.it</title>

        <!-- Importing Stylesheets -->
        <link rel="stylesheet" href="/static/style/base.css">
        <link rel="stylesheet" href="/static/style/cadastro.css">
    </head>
    <body>
        <header>
            <h2><a class="logo" href="./index.html">rank.it</a></h2>
        </header>
        <main>
            <form method="GET" action="/login" class="container">
                <h1>Login</h1>
                <div class="field">
                    <label for="username">Usuário</label>
                    <input type="text" id="username" name="username" placeholder="Digite seu nome de usuário (único)">
                </div>
                <div class="field">
                    <label for="password">Senha</label>
                    <input type="text" id="password" name="password" placeholder="Digite uma senha">
                </div>
                
                <button type="submit">Cadastrar</button>
            </form>
        </main>
    </body>
</html>