{% comment %} {% extends "footer.html" %} {% endcomment %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login - rank.it</title>

        <!-- Importing Stylesheets -->
        <link rel="stylesheet" href="/static/style/base.css">
        <link rel="stylesheet" href="/static/style/cadastro.css">
    </head>
    <body>
        <div class="header-container">

            <header>
                <h2><a class="logo" href="/"><img src="/static/img/logo.png"/></a></h2>
            </header>
        </div>
        <main>
            <form method="POST" action="/login" class="container">
                <h1>Login</h1>
                <div class="field">
                    <label for="username">Usuário</label>
                    <input type="text" id="username" name="username" placeholder="Digite seu nome de usuário (único)" required />
                </div>
                <div class="field">
                    <label for="password">Senha</label>
                    <input type="password" id="password" name="password" placeholder="Digite uma senha" required />
                </div>
                {% if error %}
                    <span class="wrong">Usuário ou senha incorretos</span>
                {% endif %}
                <button type="submit">Login</button>
            </form>
        </main>
        <footer>
            <div class="footer-container">
                <h3 class="public-repository">Repositório de apresentação</h3>
                <a href="https://github.com/joaopedrov0/rankit-presentation">Clique aqui para ver o repositório de apresentação no GitHub!</a>
                <h3 class="credits">Créditos</h3>
                <a href="/credits">Clique aqui para ver a página de créditos!</a>
            </div>
            <div class="developed-by">Developed by <a href="https://github.com/joaopedrov0">joaopedrov0</a> ©2024</div>
        </footer>
    </body>
</html>