{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>??? - rank.it</title>

    <!-- Importing Stylesheets -->
    <link rel="stylesheet" href="/static/style/base.css">
    <link rel="stylesheet" href="/static/style/media.css">

</head>
<body>
    
    <header>
        <a class="mobile-only" href="/"><span class="material-symbols-outlined filled">home</span></a>
        <a class="logo" href="/"><img src="/static/img/logo.png"/></a>
        <div class="menu">
            {% if not logged %}
                <a href="/login" class="login">Login</a>
                <a href="/cadastro" class="cadastro">Cadastro</a>
            {% endif %}
            <a href="/search" class="search">Buscar</a>
            <a href="/not-found" class="top">Top Rated</a>
            {% if logged %}
                <a class="profile-btn" href="/profile/{{user.username}}" class="top"><span class="mobile-hidden">{{user.name}}</span><img class="profile-icon" src="/static/img/icon/{{user.icon}}.png"></img></a>
            {% endif %}
            <span class="menu-btn material-symbols-outlined">more_vert</span>
                
        </div>
    </header>
    <div class="banner">
        
    </div>
    <main>
        <div class="container">

            <div class="info">
                <img src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/fHpKWq9ayzSk8nSwqRuaAUemRKh.jpg" alt="" class="poster">
                <div class="mediaData">
                     <div class="mediaTitle">Jujutsu Kaisen <span class="time">(2023)</span></div>
                     <div class="score"><span class="stars">⭐⭐⭐⭐⭐</span> | <span class="views">6.9k</span> views</div>
                     <div class="tags"><span>Animação</span><span>Ação</span><span>Aventura</span><span>Fantasia</span></div>
                     <div class="description minimized" onclick="toggleExpand(event)">Sofrimento, arrependimento, vergonha: os sentimentos negativos dos humanos tornam-se Maldições, causando terríveis acidentes que podem levar até mesmo à morte. E pra piorar, Maldições só podem ser exorcizadas por outras Maldições. Certo dia, para salvar amigos que estavam sendo atacados por Maldições, Yuji Itadori engole o dedo do Ryomen-Sukuna, absorvendo sua Maldição. Ele então decide se matricular no Colégio Técnico de Feitiçaria de Tóquio, uma organização que combate as Maldições... e assim começa a heróica lenda do garoto que tornou-se uma Maldição para exorcizar uma Maldição.</div>
                 </div>
                 <div class="interact">
                    <!-- os botao pra marcar como visto -->
                     <div class="size">
                        <div class="season"></div>
                        <div class="episodes"></div>
                     </div>
                     <div class="btn watched">Marcar como visto</div>
                     <div class="btn watchList">Adicionar na watchlist</div>
                 </div>
            </div>
           
        </div>
    </main>
    <script src="/static/javascript/toggleExpand.js"></script>
    <script src="/static/javascript/media.js"></script>
</body>
</html>