{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{media.title}} - rank.it</title>

    <!-- Importing Stylesheets -->
    <link rel="stylesheet" href="/static/style/base.css">
    <link rel="stylesheet" href="/static/style/media.css">
    <link rel="stylesheet" href="/static/style/reviews.css">

</head>
<body>
    
    <div class="modal-blocker hidden">
        <div class="modal">
            <span class="material-symbols-outlined close-modal" onclick="toggleFormModal()">close</span>
            <h2>Deixe sua opinião a respeito da obra!</h2>
            <h3>(Opcional)</h3>
            <form action="", method="POST">
                <fieldset>
                    <select name="review-quality" id="review-quality">
                        {% if reviews.selfReview.quality %}
                        <option value="{{reviews.selfReview.quality}}" hidden selected>{{reviews.selfReview.qualityText}}</option>
                        {% endif %}
                        <option value=""{% if not reviews.selfReview.quality %} selected {%endif%} disabled>O que achou da obra?</option>
                        {% if reviews.selfReview.quality %}
                        <option value="">Em branco</option>
                        {% endif %}
                        <option value="1">Péssimo</option>
                        <option value="2">Muito ruim</option>
                        <option value="3">Ruim</option>
                        <option value="4">Mediano</option>
                        <option value="5">Bom</option>
                        <option value="6">Muito bom</option>
                        <option value="7">Perfeito</option>
                    </select>
                </fieldset>
                <fieldset>
                    <textarea name="review-text" id="review-text" placeholder="Descreva um pouco mais de como foi sua experiência!" rows="7">{{reviews.selfReview.text}}</textarea>
                </fieldset>
                {% if seen %}
                <div class="btn unwatch" onclick="removeView()">Remover review</div>
                {% endif %}
                <div class="btn cancel" onclick="toggleFormModal()">Cancelar</div>
                <button type="submit" class="btn watched">Adicionar review</button>
            </form>
        </div>
    </div>
    
    <div class="header-container">
    
        <header>
            <a class="logo" href="/"><img src="/static/img/logo.png"/></a>
            <div class="menu">
                    <a class="mobile-only" href="/"><span class="material-symbols-outlined filled">home</span></a>
                    {% if not logged %}
                        <a href="/login" class="login">Login</a>
                        <a href="/cadastro" class="cadastro">Cadastro</a>
                    {% endif %}
                    <a href="/search" class="search mobile-hidden">Buscar</a>
                    <a href="/search" class="search mobile-only material-symbols-outlined">search</a>
                    <a href="/not-found" class="top">Top Rated</a>
                    {% if logged %}
                        <a class="profile-btn" href="/profile/{{user.username}}" class="top"><span class="mobile-hidden">{{user.name}}</span><img class="profile-icon" src="/static/img/icon/{{user.icon}}.png"/></a>
                    {% endif %}
                    <span class="menu-btn material-symbols-outlined" onclick="toggleMenu()">more_vert</span>
                
            </div>
            <div class="floating-menu floating-menu-closed">
                <span style="--i:1" onclick="toggleMenu()"><span class="material-symbols-outlined filled">close</span></span>
                <a href="/search" style="--i:2">Estou com sorte</a>
                {% if logged %}
                <a href="/editProfile" style="--i:3">Editar perfil</a>
                <a href="/logout" style="--i:4">Log Out</a>
                {% endif %}
            </div>
        </header>
    </div>
    {% if media.banner_path %}
    <div class="banner" style="background-image:url({{media.banner_path}});">
    {% else %}
    <div class="banner" style="background-image:url(/static/img/banner/0.png);">
    {% endif %}
        
    </div>
    <main>
        <div class="container">

            <div class="info">
                <img src="{{media.poster_path}}" alt="" class="poster">
                <div class="mediaData">
                     <div class="mediaTitle">{{media.title}} {% if media.release_year %}<span class="time">({{media.release_year}})</span>{% endif %}</div>
                     <div class="score"><span class="stars">{{media.score}}⭐</span></div>
                     <div class="tags">
                        {% for genre in media.genre %}
                            <span>{{genre.name}}</span>
                        {% endfor %}
                     </div>
                     <div class="description mobile-hidden">{{media.description}}</div>
                 </div>
                 <div class="interact">
                    <!-- os botao pra marcar como visto -->
                     <div class="size">
                        {% if media.size.seasons %}
                            <div class="season">{{media.size.seasons}}</div>
                        {% endif %}
                        {% if media.size.episode_count %}
                            <div class="episodes">{{media.size.episode_count}}</div>
                        {% endif %}
                        {% if media.size.time %}
                            <div class="time">{{media.size.time}}</div>
                        {% endif %}
                     </div>
                     {% if seen %}
                     <div class="btn watched" onclick="toggleFormModal()">Editar review <span class="material-symbols-outlined filled">edit</span></div>
                     {% else %}
                     <div class="btn watched" onclick="toggleFormModal()">Adicionar review</div>
                     {% comment %} <div class="btn watchList">Adicionar na watchlist</div> {% endcomment %}
                     {% endif %}
                 </div>
                 <div class="description mobile-description mobile-only">{{media.description}}</div>
            </div>
           
            <div class="reviews-area">
                {% if reviews.selfReview %}
                    <h2>Sua avaliação</h2>
                    <div class="review-box">
                        <a class="review-header" href="/profile/{{reviews.selfReview.username}}">
                            <img class="profile-icon" src="/static/img/icon/{{reviews.selfReview.icon}}.png"/> <div class="review-name">{{reviews.selfReview.name}}</div> <div class="review-username">{{reviews.selfReview.username}}</div>
                        </a>
                        <div class="review-body">
                            {% if reviews.selfReview.qualityText %}
                            <div class="review-quality"><span class="quality-{{reviews.selfReview.quality}}">{{reviews.selfReview.qualityText}}</span></div>
                            {% endif %}
                            {% if reviews.selfReview.text %}
                            <div class="review-text">{{reviews.selfReview.text}}</div>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}

                {% if reviews.otherReview %}
                <h2>Todas as avaliações</h2>

                    {% for review in reviews.otherReview %}
                        <div class="review-box">
                            <a class="review-header" href="/profile/{{review.username}}">
                                <img class="profile-icon" src="/static/img/icon/{{review.icon}}.png"/> <div class="review-name">{{review.name}}</div> <div class="review-username">{{review.username}}</div>
                            </a>
                            <div class="review-body">
                                {% if review.quality %}
                                <div class="review-quality"><span class="quality-{{review.quality}}">{{review.qualityText}}</span></div>
                                {% endif %}
                                {% if review.text %}
                                <div class="review-text">{{review.text}}</div>
                                {% endif %}
                                <div class="review-date">{{review.date}}</div>
                            </div>
                        </div>
                    {% empty %}
                        Nenhuma avaliação encontrada.
                    {% endfor %}

                {% endif %}

            </div>
        </div>
    </main>
    {% comment %} <main>
        <div class="container">

            <div class="info">
                <img src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/fHpKWq9ayzSk8nSwqRuaAUemRKh.jpg" alt="" class="poster">
                <div class="mediaData">
                     <div class="mediaTitle">Jujutsu Kaisen <span class="time">(2023)</span></div>
                     <div class="score"><span class="stars">⭐⭐⭐⭐⭐</span> | <span class="views">6.9k</span> views</div>
                     <div class="tags"><span>Animação</span><span>Ação</span><span>Aventura</span><span>Fantasia</span></div>
                     <div class="description minimized" onclick="toggleExpand(event)">Sofrimento, arrependimento, vergonha: os sentimentos negativos dos humanos tornam-se Maldições, causando terríveis acidentes que podem levar até mesmo à morte. E pra piorar, Maldições só podem ser exorcizadas por outras Maldições. Certo dia, para salvar amigos que estavam sendo atacados por Maldições, Yuji Itadori engole o dedo do Ryomen-Sukuna, absorvendo sua Maldição. Ele então decide se matricular no Colégio Técnico de Feitiçaria de Tóquio, uma organização que combate as Maldições... e assim começa a heróica lenda do garoto que tornou-se uma Maldição para exorcizar uma Maldição.</div>
                 </div>
                 <div class="interact">
                    <!-- os botao pra marcar como visto -->
                     <div class="size">
                        <div class="season"></div>
                        <div class="episodes"></div>
                     </div>
                     <div class="btn watched">Marcar como visto</div>
                     <div class="btn watchList">Adicionar na watchlist</div>
                 </div>
            </div>
           
        </div>
    </main> {% endcomment %}
    {% comment %} <script src="/static/javascript/media.js"></script> {% endcomment %}
    <footer>
        <div class="footer-container">
            <h3 class="public-repository">Repositório de apresentação</h3>
            <a href="https://github.com/joaopedrov0/rankit-presentation">Clique aqui para ver o repositório de apresentação no GitHub!</a>
            <h3 class="credits">Créditos</h3>
            <a href="/credits">Clique aqui para ver a página de créditos!</a>
        </div>
        <div class="developed-by">Developed by <a href="https://github.com/joaopedrov0">joaopedrov0</a> ©2024</div>
    </footer>
    <script type="text/javascript">
        const MEDIA_CATEGORY = "{{media.category}}"
        const MEDIA_ID = "{{media.id}}"
    </script>
    <script src="/static/javascript/markAsSeen.js"></script>
    <script src="/static/javascript/floatingMenu.js"></script>
</body>
</html>