<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Não encontramos o que busca - rank.it</title>

        <!-- Importing Stylesheets -->
        <link rel="stylesheet" href="/static/style/base.css">
        <link rel="stylesheet" href="/static/style/cadastro.css">
    </head>
    <body>
        <header>
            <h2><a class="logo" href="/"><img src="/static/img/logo.png"/></a></h2>
        </header>
        <main>
            <h1>Ops, não encontramos o que está buscando!</h1>
        </main>
    </body>
</html>