{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ name }} - Opinion</title>

    <!-- Importing Stylesheets -->
    <link rel="stylesheet" href="/static/style/base.css">
    <link rel="stylesheet" href="/static/style/profile.css">
</head>
<body>
    <header>
        <a class="logo" href="/">rank.it</a>
        <div class="search">
            <input type="text" placeholder="Search series, movies, animes, etc.">
            <div class="searchBtn">Search</div>
        </div>
        <div class="menu"></div>
    </header>
    <div class="banner" style="background-image: url({% static 'img/banner/'%}{{banner}}.{{'png'}})">
        <div class="user">
            <img src="{% static 'img/icon/'%}{{icon}}.{{'png'}}" alt="user icon" class="icon">
            <div class="identify">
                <div class="name">{{ name }}</div>
                <div class="username">{{ username }}</div>
                <div class="followArea">
                    <div class="followers">{{ followers|length }}</div>
                    <div class="following">{{ following|length }}</div>
                </div>
                <div class="followBtn">Follow</div>
            </div>
        </div>
        <div class="bannerDesc">
            Jujutsu Kaisen
        </div>
    </div>
    <main>
        <div class="container">
            <div class="col6">
                <div class="bio">
                    {{ bio }}
                </div>
                <div class="reviews">
                    <h2>Reviews</h2>
                    <div class="reviewCard">
                        <div class="reviewCard-header">
                            <div class="mediaName">Jujutsu Kaisen</div>
                            <div class="evaluation">A A A A A</div>
                        </div>
                        <div class="reviewCard-body">
                            <div class="reviewDescription">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel itaque eum quo non quaerat, repellat voluptates repellendus temporibus provident est maxime distinctio dignissimos esse quos ut voluptate, rerum ipsam molestiae?</div>
                        </div>
    
                    </div>
                    <div class="reviewCard">
                        <div class="reviewCard-header">
                            <div class="mediaName">Sousou No Frieren</div>
                            <div class="evaluation">A A A A A</div>
                        </div>
                        <div class="reviewCard-body">
                            <div class="reviewDescription">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel itaque eum quo non quaerat, repellat voluptates repellendus temporibus provident est maxime distinctio dignissimos esse quos ut voluptate, rerum ipsam molestiae?</div>
                        </div>
    
                    </div>
                </div>
            </div>
            
            <div class="col6">
                <div class="stats">
                    <div class="preferences">
                        <div class="favorite favorite-anime">
                            <div class="favorite-text-area">
                                <h3>Jujutsu Kaisen</h3>
                                <p>Favorite Anime</p>
                            </div>
                            
                        </div>
                        <div class="favorite favorite-character">
                            <div class="favorite-text-area">
                                <h3>Frieren</h3>
                                <p>Favorite Character</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="currentViewing"></div>
                </div>
            </div>
            
        </div>
    </main>
</body>
</html>