{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ currentProfile.name }} - rank.it</title>

    <!-- Importing Stylesheets -->
    <link rel="stylesheet" href="/static/style/base.css">
    <link rel="stylesheet" href="/static/style/profile.css">
    <link rel="stylesheet" href="/static/style/reviews.css">
</head>
<body>
    <div class="floating-menu floating-menu-closed">
        <span style="--i:1" onclick="toggleMenu()"><span class="material-symbols-outlined filled">close</span></span>
        {% if currentProfile.logged %}
        <a href="/editProfile" style="--i:2">Editar perfil</a>
        <a href="/logout" style="--i:3">Log Out</a>
        {% endif %}
        <a href="/search" style="--i:4">Estou com sorte</a>
    </div>
    <div class="header-container">
        <header>
            <a class="logo" href="/"><img src="/static/img/logo.png"/></a>
            <div class="menu">
                <a class="mobile-only" href="/"><span class="material-symbols-outlined filled">home</span></a>
                {% if not currentProfile.logged %}
                    <a href="/login" class="login">Login</a>
                    <a href="/cadastro" class="cadastro">Cadastro</a>
                {% endif %}
                <a href="/search" class="search mobile-hidden">Buscar</a>
                <a href="/search" class="search mobile-only material-symbols-outlined">search</a>
                <a href="/not-found" class="top">Top Rated</a>
                {% if currentProfile.logged %}
                    <a class="profile-btn" href="/profile/{{currentProfile.user.username}}" class="top"><span class="mobile-hidden">{{user.name}}</span><img class="profile-icon" src="/static/img/icon/{{currentProfile.user.icon}}.png"/></a>
                {% endif %}
                <span class="menu-btn material-symbols-outlined" onclick="toggleMenu()">more_vert</span>
                
            </div>
        </header>
    </div>
    <div class="banner" style="background-image: url({% static 'img/banner/'%}{{currentProfile.banner}}.{{'png'}})">
        <div class="user">
            <img src="{% static 'img/icon/'%}{{currentProfile.icon}}.{{'png'}}" alt="user icon" class="icon">
            <div class="identify">
                <div class="name">{{ currentProfile.name }}</div>
                <div class="username">{{ currentProfile.username }}</div>
                <div class="followArea">
                    <div class="followers">{{ currentProfile.followersCount }}</div>
                    <div class="following">{{ currentProfile.followingCount }}</div> 
                    {% comment "" %}
                    antes usava followers|length
                    {% endcomment %}
                </div>
                {% if currentProfile.selfProfile %}
                <a href="/editProfile" class="editBtn">Editar <span class="material-symbols-outlined filled">edit</span></a>
                {% else %}
                <a href="/follow" class="followBtn">Follow</a>
                {% endif %}
            </div>
        </div>
        <div class="bannerDesc mobile-hidden">
            {% comment %} futuramente vai ter o nome do banner aq {% endcomment %}
        </div>
    </div>
    <main>
        <div class="container">
            <div class="col6">
                {% if currentProfile.bio %}

                <div class="bio">
                    {{ currentProfile.bio }}
                </div>
                
                {% endif %}

                {% if reviews %}
                <div class="reviews">
                    <h2>Reviews</h2>
                    {% for review in reviews %}
                        <a class="review_target" href="/media/{{review.target_category}}/{{review.target_api_id}}">{{review.target_name}}</a>
                        <a class="review-box" href="/media/{{review.target_category}}/{{review.target_api_id}}">
                            <div class="review-header">
                                <img class="profile-icon" src="/static/img/icon/{{review.icon}}.png"/> <div class="review-name">{{review.name}}</div> <div class="review-username">{{review.username}}</div>
                            </div>
                            <div class="review-body">
                                {% if review.quality %}
                                <div class="review-quality"><span class="quality-{{review.quality}}">{{review.qualityText}}</span></div>
                                {% endif %}
                                {% if review.text %}
                                <div class="review-text">{{review.text}}</div>
                                {% endif %}
                            </div>
                        </a>
                    {% endfor %}

    
                    </div>
                </div>
                {% endif %}
            </div>
            
            <div class="col6">
                <div class="stats">
                    {% comment %} <div class="preferences">
                        
                    </div> {% endcomment %}
                    
                    {% if diary %}
                    <div class="diary"></div>
                    {% endif %}
                </div>
            </div>
            
        </div>
    </main>
    <script src="/static/javascript/floatingMenu.js"></script>
</body>
</html>