{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ currentProfile.name }} - rank.it</title>

    <!-- Importing Stylesheets -->
    <link rel="stylesheet" href="/static/style/base.css">
    <link rel="stylesheet" href="/static/style/profile.css">
    <link rel="stylesheet" href="/static/style/reviews.css">
    <link rel="stylesheet" href="/static/style/diary.css">
</head>
<body>
    <div class="modal-blocker hidden">
        <div class="follow-info modal">
            <span class="material-symbols-outlined close-modal" onclick="toggleFollowInfo()">close</span>
            <div class="follow-info-section">
                <h2>Followers</h2>
                {% for follower in followInfo.followers %}
                <a class="follow-info-box" href="/profile/{{follower.username}}">
                    <img class="follower-icon" src="/static/img/icon/{{follower.icon}}.png"/>
                    <div class="follow-text">
                        <div class="follower-name">{{follower.name}}</div>
                        <div class="follower-username">{{follower.username}}</div>
                    </div>
                </a>
                {% empty %}
                Esse usuário ainda não é seguido por ninguém.
                {% endfor %}
            </div>
            <div class="follow-info-section">
                <h2>Following</h2>
                {% for following in followInfo.following %}
                <a class="follow-info-box" href="/profile/{{following.username}}">
                    <img class="following-icon" src="/static/img/icon/{{following.icon}}.png"/>
                    <div class="follow-text">
                        <div class="following-name">{{following.name}}</div>
                        <div class="following-username">{{following.username}}</div>
                    </div>
                </a>
                {% empty %}
                Esse usuário ainda segue ninguém.
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="header-container">
        <header>
            <a class="logo" href="/"><img src="/static/img/logo.png"/></a>
            <div class="menu">
                <a class="mobile-only" href="/"><span class="material-symbols-outlined filled">home</span></a>
                {% if not logged %}
                    <a href="/login" class="login">Login</a>
                    <a href="/cadastro" class="cadastro">Cadastro</a>
                {% endif %}
                <a href="/search" class="search mobile-hidden">Buscar</a>
                <a href="/search" class="search mobile-only material-symbols-outlined">search</a>
                <a href="/not-found" class="top">Top Rated</a>
                {% if logged %}
                    <a class="profile-btn" href="/profile/{{clientProfile.username}}" class="top"><span class="mobile-hidden">{{clientProfile.name}}</span><img class="profile-icon" src="/static/img/icon/{{clientProfile.icon}}.png"/></a>
                {% endif %}
                <span class="menu-btn material-symbols-outlined" onclick="toggleMenu()">more_vert</span>
                
            </div>
            <div class="floating-menu floating-menu-closed">
                <span style="--i:1" onclick="toggleMenu()"><span class="material-symbols-outlined filled">close</span></span>
                <a href="/search" style="--i:2">Estou com sorte</a>
                {% if logged %}
                <a href="/editProfile" style="--i:3">Editar perfil</a>
                <a href="/logout" style="--i:4">Log Out</a>
                {% endif %}
            </div>
        </header>
    </div>
    <div class="banner" style="background-image: url({% static 'img/banner/'%}{{currentProfile.banner}}.{{'png'}})">
        <div class="user">
            <img src="{% static 'img/icon/'%}{{currentProfile.icon}}.{{'png'}}" alt="user icon" class="icon">
            <div class="identify">
                <div class="name">{{ currentProfile.name }}</div>
                <div class="username">{{ currentProfile.username }}</div>
                <div class="followArea" onclick="toggleFollowInfo()">
                    <div class="followers">{{ currentProfile.followersCount }}</div>
                    <div class="following">{{ currentProfile.followingCount }}</div> 
                    {% comment "" %}
                    antes usava followers|length
                    {% endcomment %}
                </div>
                {% if selfProfile %}
                <a href="/editProfile" class="editBtn">Editar <span class="material-symbols-outlined filled">edit</span></a>
                {% elif following %}
                <a class="followBtn" onclick="unfollow()" href="unfollow">Unfollow</a>
                {% else %}
                <a class="followBtn" onclick="follow()" href="follow">Follow</a>
                {% endif %}
            </div>
        </div>
        <div class="bannerDesc mobile-hidden">
            {% comment %} futuramente vai ter o nome do banner aq {% endcomment %}
        </div>
    </div>
    <main>
        <div class="container">
            <div class="col6">
                {% if currentProfile.bio %}

                <div class="bio">
                    {{ currentProfile.bio }}
                </div>
                
                {% endif %}

                {% if reviews %}
                <div class="reviews">
                    <h2>Reviews</h2>
                    {% for review in reviews %}
                        <a class="review_target" href="/media/{{review.target_category}}/{{review.target_api_id}}">{{review.target_name}}</a>
                        <a class="review-box" href="/media/{{review.target_category}}/{{review.target_api_id}}">
                            <div class="review-header">
                                <img class="profile-icon" src="/static/img/icon/{{review.icon}}.png"/> <div class="review-name">{{review.name}}</div> <div class="review-username">{{review.username}}</div>
                            </div>
                            <div class="review-body">
                                {% if review.quality %}
                                <div class="review-quality"><span class="quality-{{review.quality}}">{{review.qualityText}}</span></div>
                                {% endif %}
                                {% if review.text %}
                                <div class="review-text">{{review.text}}</div>
                                {% endif %}
                                <div class="review-date">{{review.date}}</div>
                            </div>
                        </a>
                    {% endfor %}

    
                    </div>
                </div>
                {% endif %}
            
            <div class="col6">
                <div class="stats">
                    {% comment %} <div class="preferences">
                        
                    </div> {% endcomment %}
                    
                    {% if diary %}
                    <div class="diary">
                    <h2>Diário</h2>
                    
                        {% for page in diary %}
                            <a href="/media/{{page.category}}/{{page.api_id}}" class="diary-page">
                                {% if page.banner_path %}
                                <img src="{{page.banner_path}}"/>
                                {% else %}
                                <img src="/static/img/banner/0.png"/>
                                {% endif %}
                                <div class="diary-page-name">
                                {{page.name}}
                                <span class="diary-page-date">{{page.strDate}}</span>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
            </div>
            
        </div>
    </main>
    <footer>
        <div class="footer-container">
            <h3 class="public-repository">Repositório de apresentação</h3>
            <a href="https://github.com/joaopedrov0/rankit-presentation">Clique aqui para ver o repositório de apresentação no GitHub!</a>
            <h3 class="credits">Créditos</h3>
            <a href="/credits">Clique aqui para ver a página de créditos!</a>
        </div>
        <div class="developed-by">Developed by <a href="https://github.com/joaopedrov0">joaopedrov0</a> ©2024</div>
    </footer>
    <script src="/static/javascript/floatingMenu.js"></script>
    <script src="/static/javascript/followingLogic.js"></script>
    <script src="/static/javascript/floatingFollowInfo.js"></script>
</body>
</html>