{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscando resultados para "???" - rank.it</title>

    <!-- Importing Stylesheets -->
    <link rel="stylesheet" href="/static/style/base.css">
    <link rel="stylesheet" href="/static/style/search.css">
</head>
<body>
    <div class="header-container">
    
        <header>
            <a class="logo" href="/"><img src="/static/img/logo.png"/></a>
            
            <div class="menu">
                <a class="mobile-only" href="/"><span class="material-symbols-outlined filled">home</span></a>
                {% if not logged %}
                    <a href="/login" class="login">Login</a>
                    <a href="/cadastro" class="cadastro">Cadastro</a>
                {% endif %}
                <a href="/not-found" class="top">Top Rated</a>
                {% if logged %}
                    <a class="profile-btn" href="/profile/{{user.username}}" class="top"><span class="mobile-hidden">{{user.name}}</span><img class="profile-icon" src="/static/img/icon/{{user.icon}}.png"></img></a>
                {% endif %}
                <span class="menu-btn material-symbols-outlined" onclick="toggleMenu()">more_vert</span>
                
            </div>
            <div class="floating-menu floating-menu-closed">
                <span style="--i:1" onclick="toggleMenu()"><span class="material-symbols-outlined filled">close</span></span>
                <a href="/search" style="--i:2">Estou com sorte</a>
                {% if logged %}
                <a href="/editProfile" style="--i:3">Editar perfil</a>
                <a href="/logout" style="--i:4">Log Out</a>
                {% endif %}
            </div>
        </header>
    </div>
    <main>
        <div class="container">
            <div class="search">
                    <input type="text" placeholder="Search series, movies, animes, etc." id="search_bar" onkeydown="checkEnter(event)">
                    <div class="searchBtn material-symbols-outlined" onclick="search()">search</div>
            </div>
            <div class="category">
                <!-- <input type="radio" name="category" id="all" value="all" checked>
                <label for="all">Todos</label> -->
                <input type="radio" name="category" id="movie" value="movie" checked onchange="search()">
                <label for="movie">Filmes</label>
                <input type="radio" name="category" id="serie" value="serie" onchange="search()">
                <label for="serie">Series</label>
                <input type="radio" name="category" id="anime" value="anime" onchange="search()">
                <label for="anime">Animes</label>
                <input type="radio" name="category" id="game" value="game" onchange="search()">
                <label for="game">Jogos</label>
                <input type="radio" name="category" id="book" value="book" disabled>
                <label for="book">Livros</label>
                <input type="radio" name="category" id="user" value="user" disabled>
                <label for="user">Usuários</label>
            </div>
            <div class="resultList">
                <h2>Seus resultados aparecerão logo abaixo!</h2>
                <!-- <div class="resultItem">
                    <img src="https://static.tvmaze.com/uploads/images/medium_portrait/479/1198409.jpg" alt="" class="searchMediaImage">
                    <div class="searchMediaText">
                        <div class="mediaHeader">
                            <div class="mediaTitle">Sousou no Frieren <span class="time">(2023-2025)</span></div>
                            <div class="score"><span class="stars">⭐⭐⭐⭐⭐</span> | <span class="views">6.9k</span> views</div>
                        </div>
                        
                        <div class="mediaDescription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae facere, eius aliquam optio quasi debitis cupiditate culpa quas? Aut sint non voluptate quae adipisci architecto modi numquam corrupti doloribus natus.</div>
                    </div>
                </div> -->
            </div>
        </div>
    </main>
    <footer>
        <div class="footer-container">
            <h3 class="public-repository">Repositório de apresentação</h3>
            <a href="https://github.com/joaopedrov0/rankit-presentation">Clique aqui para ver o repositório de apresentação no GitHub!</a>
            <h3 class="credits">Créditos</h3>
            <a href="/credits">Clique aqui para ver a página de créditos!</a>
        </div>
        <div class="developed-by">Developed by <a href="https://github.com/joaopedrov0">joaopedrov0</a> ©2024</div>
    </footer>
    <script src="/static/javascript/search.js"></script>
    <script src="/static/javascript/floatingMenu.js"></script>
</body>
</html>