/* @import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=search'); */
@import url('https://fonts.googleapis.com/css2?family=Itim&family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* 
INTERATIVO
font-family: "Roboto", sans-serif; 

MUDAR Q TA RUIM ✋🚫

TEXTO
font-family: "Onest", sans-serif;

TÍTULO
font-family: "Lilita One", sans-serif; 
*/

.mobile-only{
    display: None;
}

:root{
    --default-grey-bg: rgb(24, 24, 24);
    --interactive-font: "Roboto", sans-serif;
    --text-font: "Onest", sans-serif;
    --title-font: "Lilita One", sans-serif
}
    
a.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
    
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    
}

.material-symbols-outlined.filled {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
  }



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-family: var(--text-font);
    color: aliceblue;
    background-color: var(--default-grey-bg);
}


.profile-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-btn img{
    margin-left: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.menu-btn{
    /* width: 50px;
    height: 50px;
    display: flex;
    align-self: center;
    justify-content: center;
    text-align: center; */
    padding: 7px;
    border-radius: 50%;

    transition: all 200ms ease;
}

.menu-btn:hover{
    cursor: pointer;
    background-color: rgba(200, 200, 200, 0.3);
}

main{
    display: flex;
    justify-content: center;
}

a{
    text-decoration: none;
    color: inherit;
}

.container{
    width: 960px;
}

.logo{
    font-size: 24px;
    font-style: italic;
    font-weight: 800;
    color: #004aad;

    cursor: pointer;

    text-decoration: none;


}

.logo img {
    
    width: 150px;
}





/* Header */
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 60px;
    backdrop-filter: blur(7px);
    z-index: 5;
    padding: 0px 25px;
}





/* grid */

.col6{
    width: 50%;
}

.col12{
    width: 100%;
}

.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 2px solid rgba(200, 200, 200, 0.9);
    /* margin: 0 15px; */
}

.menu a {
    color: rgba(200, 200, 200, 0.9);
    font-weight: bold;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
}

.menu a:hover {
    cursor: pointer;
    color: #fff;
}


@media screen and (max-width: 960px){
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    .mobile-hidden{
        display: None;
    }
    .mobile-only{
        display: flex;
    }
    body{
        min-width: 100vw;
        min-height: 100vh;
        overflow-y: auto;
    }
    .logo img{
        /* width: 30vw;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 0; */
        display: none;
    }
    .profile-btn{
        width: 60px;
        height: 60px;
        margin: 0;
        padding: 0;
    }
    img.profile-icon{
        margin: 0;
    }
    .menu{
        width: 90vw;
        justify-content: space-evenly;
    }
    .menu a{
        /* padding: 5px 1px; */
        /* margin: 1px; */
        width: 20vw;
        margin: 0;
        padding: 0;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    header{
        padding: 0;
        justify-content: center;
    }
}