@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=search');
@import url('https://fonts.googleapis.com/css2?family=Itim&family=Lilita+One&family=Permanent+Marker&display=swap');

/* 
INTERATIVO
font-family: "Permanent Marker", cursive; MUDAR Q TA RUIM ✋🚫

TEXTO
font-family: "Itim", cursive;

TÍTULO
font-family: "Lilita One", sans-serif; 
*/


:root{
    --default-grey-bg: rgb(24, 24, 24);
}


.material-symbols-outlined.filled {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-family: "Itim", cursive;
    color: aliceblue;
    background-color: var(--default-grey-bg);
}

main{
    display: flex;
    justify-content: center;
}

a{
    text-decoration: none;
    color: inherit;
}

.container{
    width: 960px;
}

.logo{
    font-size: 24px;
    font-style: italic;
    font-weight: 800;
    color: #004aad;

    cursor: pointer;

    text-decoration: none;


}

.logo img {
    
    width: 150px;
}





/* Header */
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 60px;
    backdrop-filter: blur(7px);
    z-index: 5;
    padding: 0px 25px;
}





/* grid */

.col6{
    width: 50%;
}

.col12{
    width: 100%;
}

.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 2px solid rgba(200, 200, 200, 0.9);
    /* margin: 0 15px; */
}

.menu a {
    color: rgba(200, 200, 200, 0.9);
    font-weight: bold;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
}

.menu a:hover {
    cursor: pointer;
    color: #fff;
}