

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: clamp(300px, 100vw, 960px);
    /* width: 100vw; */
    height: 60px;
    position: relative;
}

.header-container{
    width: 100vw;
    display: flex;
    justify-content: center;
    position: relative;
    
    z-index: 5;
    backdrop-filter: blur(7px);
}



.profile-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-btn img{
    margin-left: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.menu-btn{
    /* width: 50px;
    height: 50px;
    display: flex;
    align-self: center;
    justify-content: center;
    text-align: center; */
    padding: 7px;
    border-radius: 50%;
    
    transition: all 200ms ease;
}

.menu-btn:hover{
    cursor: pointer;
    background-color: rgba(200, 200, 200, 0.3);
}

.logo{
    font-size: 24px;
    font-style: italic;
    font-weight: 800;
    color: #004aad;
    
    cursor: pointer;
    
    text-decoration: none;
    
    
}

.logo img {
    
    width: 150px;
}

.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 2px solid rgba(200, 200, 200, 0.9);
    /* position: relative; */
    /* margin: 0 15px; */
}

.menu a {
    color: rgba(200, 200, 200, 0.9);
    font-weight: bold;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
}

.menu a:hover {
    cursor: pointer;
    color: #fff;
}

a.profile-btn{
    margin: 0 auto;
}

@media screen and (max-width: 960px) {
    .header-container{
        width: 100%;
    }
}