/* Importanto componentes */
@import url('./header.css');


.container{
    max-width: 95vw;
    margin-top: 200px;
}
.container > p {
    margin-bottom: 25px;
}

header{
    backdrop-filter: none;
    position: absolute;
    /* display: flex;
    justify-content: space-between; */
}

.reviews{
    margin-top: 50px;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--default-grey-bg);
}

main{
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
}

/* main > * {
    min-height: 500px;
    padding: 50px;
} */

/* main .col12{
    display: flex;
    justify-content: center;
    align-items: center;
}

main .col12:first-child{
    margin-bottom: 100px;
}

.categoriesMenu{
    display: flex;
    justify-content: center;
    align-items: center;
}

.getStarted{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
    font-weight: bold;
    font-size: 2rem;
} */

.getStartedBtn{
    padding: 12px 30px;
    background-color: #004aad;
    border-radius: 30px;
    transition: all 100ms ease;
}

.getStartedBtn:hover{
    cursor: pointer;
    background-color: #1567c4;
}
/* 
.text-box-home{
    width: 720px;
    font-size: 32px;
    font-weight: 600;
    font-style: italic;
}

.text-box-home p:first-child{
    width: 100%;
    text-align: start;
}
.text-box-home p:last-child{
    width: 100%;
    text-align: end;
}

.categoriesMenu{
    width: clamp(360px, 50%, 80vw);
    display: flex;
    flex-direction: column;
}

.categoriesTitle{
    margin-bottom: 5px;
}

.categoriesTitle, .categoriesBanner{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.categoriesTitle .categoriesTitle-item, .categoriesBanner .categoriesBanner-item{
    width: 19%;
}

.categoriesTitle-item{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 25px;
    border: 2px solid rgba(200, 200, 200, 0.9);
    font-weight: bold;
    font-style: italic;
}

@media screen and (max-width: 960px){
    main .col12{
        flex-direction: column;
    }
    main .col12 .col6 {
        width: 100%;
    }
} */
