/* Importanto componentes */
/* @import url('./header.css'); */


.container{
    max-width: 95vw;
    margin-top: 200px;
}
.container > p {
    margin-bottom: 25px;
}
.header-container{
    position: absolute;
    background-color: transparent;
    backdrop-filter: none;
}

.reviews{
    margin-top: 50px;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--default-grey-bg);
}

.reviews .review-box{
    flex-direction: row;
}

.reviews .review-box .review-box-poster img{
    height: 200px;
    margin-right: 10px;
    border-radius: 10px;

    transition: all 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.reviews .review-box:hover .review-box-poster img{
    transform: translateX(-5px) translateY(-5px);
    box-shadow: var(--default-grey-bg-light) 5px 5px
}

.reviews .review-box .review-box-text .review-header .review-username{
    margin-left: 5px;
}

main{
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
}

/* main > * {
    min-height: 500px;
    padding: 50px;
} */

/* main .col12{
    display: flex;
    justify-content: center;
    align-items: center;
}

main .col12:first-child{
    margin-bottom: 100px;
}

.categoriesMenu{
    display: flex;
    justify-content: center;
    align-items: center;
}

.getStarted{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
    font-weight: bold;
    font-size: 2rem;
} */

.getStartedBtn{
    padding: 12px 30px;
    background-color: #004aad;
    border-radius: 30px;
    transition: all 100ms ease;
}

.getStartedBtn:hover{
    cursor: pointer;
    background-color: #1567c4;
}
/* 
.text-box-home{
    width: 720px;
    font-size: 32px;
    font-weight: 600;
    font-style: italic;
}

.text-box-home p:first-child{
    width: 100%;
    text-align: start;
}
.text-box-home p:last-child{
    width: 100%;
    text-align: end;
}

.categoriesMenu{
    width: clamp(360px, 50%, 80vw);
    display: flex;
    flex-direction: column;
}

.categoriesTitle{
    margin-bottom: 5px;
}

.categoriesTitle, .categoriesBanner{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.categoriesTitle .categoriesTitle-item, .categoriesBanner .categoriesBanner-item{
    width: 19%;
}

.categoriesTitle-item{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 25px;
    border: 2px solid rgba(200, 200, 200, 0.9);
    font-weight: bold;
    font-style: italic;
}
*/
@media screen and (max-width: 720px){
    h1, h2{
        text-align: center;
        margin-bottom: 5px;
    }
    .container > p{
        text-align: center;
    }
    .reviews.feed{
        margin-top: 50px;
        width: 100vw;
        border-radius: 0;
        padding: 30px 10px;
    }
    

    .reviews .review-box .review-box-poster{
        width: 25vw;
        margin-right: 15px;
    }
    .review-box-text{
        max-width: 73vw;
    }
    .reviews .review-box .review-box-text > *{
        overflow-x: auto;
    }
    .reviews .review-box .review-box-poster img{
        height: auto;
        width: 100%;
    }
    .review-box .review-header .review-name{
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-bottom: 5px;
    }
    .reviews .review-box .review-box-text .review-header .review-username{
        margin-left: 0px;
    }

    .review-box .review-box-text .review-body{
        margin: 0;
    }

    .review-name > *{
        text-align: left;
    }
}
