/* header{
    position: absolute;
} */


.header-container{
    position: absolute;
}

/* Personal banner */
.banner{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(../img/banner.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 500px;
    padding: 0 40px;
}
.banner::before{
    content: '';
    background-image: linear-gradient(to top, var(--default-grey-bg) 1%, transparent 25%);
    width: 100vw;
    height: 500px;
    position: absolute;
    top: 0;
    left:0;
}
.banner > *{
    z-index: 4;
}
.user{
    display: flex;
}
.icon{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.identify{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 40px;
    min-width: 200px;
}

.name{
    color: aliceblue;
    font-size: 2rem;
}
.username{
    color: aliceblue;
    font-size: 1rem;
}
.username::before{
    content: '@';
}
.followBtn, .editBtn{
    background-color: #004aad;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    padding: 10px;
    border-radius: 5px;

    transition: all 100ms ease;
}
.followBtn:hover, .searchBtn:hover, .editBtn:hover{
    background-color: #1567c4;
    cursor: pointer;
}

.followArea{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 0;
}

.followers::before{
    content: 'Followers ';
}

.following::before{
    content: 'Following '
}

.bannerDesc{
    align-self: self-end;
}

/* .statistic{
    display: flex;
}
.statistic > *{
    display: flex;
    flex-direction: column;
    margin: 0px 20px;
    justify-content: center;
    align-items: center;
}
.movie::before{
    content:'Movies'
}
.series::before{
    content:'Series'
}
.anime::before{
    content:'Animes'
}
.book::before{
    content:'Books'
} */

/* Main */

.container{
    width: 960px;
    margin: auto;
    display: flex;
    /* background-color: rgb(53,53,53); */
}

/* Bio */

.bio{
    padding: 15px;
    margin: 15px;
    background-color: rgba(60, 60, 60, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Reviews */

.reviews{
    min-height: 500px;
}

.reviewCard{
    /* background-color: red; */
    margin: 10px;
    padding: 20px;
    border: 1px solid rgba(200, 200, 200, 0.8);
    border-radius: 5px;
}

.reviewCard-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.stats{
    height: 500px;
    /* background-color: green; */
}

/* Preferences */

.favorite{
    width: 100%;
    height: 200px;
    border-radius: 20px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    margin-bottom: 5px;
}

.favorite-text-area{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    backdrop-filter: blur(1px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.favorite > *{
    background-color: rgba(50, 50, 50, 0.4);
}

.favorite-anime{
    background-image: url(../img/banner.png);
}


.favorite-character{
    background-image: url(../img/character.jpg);
}


.editable::after{
    content: 'edit';
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
    
    font-family: 'Material Symbols Outlined';
}


@media screen and (max-width: 960px){
    .banner{
        width: 100vw;
        justify-content: center;
    }

    .icon{
        margin-top: 130px;
        width: 30vw;
        height: 30vw;
    }
    .container{
        flex-direction: column;
        align-items: center;
    }
    .col6{
        width: 90%;
    }
    .name{
        font-size: 1.5rem;
    }
    .followArea{
        flex-direction: column;
        align-items: start;
    }
    
    .identify{
        margin: 10px;
        justify-content: center;
        align-items: center;
    }
    .user{
        flex-direction: column;
        align-items: center;
    }
    .followBtn, .editBtn{
        width: 50vw;
    }
}